.conteudo {
  width: 72%;
  background-color: #ffffff;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
}

.cabeçalho {
  text-align: center;
  color: #ffffff;
  padding: 60px;
}

.topo {
  text-align: center;
}

img {
  width: 180px;
  text-align: center;
  float: left;
  padding: 20px;
}

.navegação li {
  display: inline-block;
  width: 150px;
  text-align: center;
}

.navegação li a:link,
.navegação li a:visited {
  color: #5b5b6e;
  text-decoration: none;
}

.navegação li a:hover {
  color: #2e2d4c;

  transform: scale(1.5);
  box-shadow: 0 2px 25px #2e2d4c;
}

h3 {
  font-size: 1.2rem;
  margin-top: 50px;
  color: #2e2d4c;
}

.background {
  background-color: #2e2d4c;
  background-image: url(../fundo.png);
  background-attachment: fixed;
}

body {
  margin: 0px;
  position: absolute;
  display: block;
  background-color: #2e2d4c;
}

.footer {
  color: #ffffff;
  text-align: center;
  background-color: #2e2d4c;
  margin: 136px;
  font-size: 20px;
}

a {
  color: #ffffff;
}
